* {
  margin: 0;
  padding: 0;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  background-color: #002d56;
  color: white;
  font-weight: bold;
  height: 50px;
}
.logo {
  text-align: center;
  align-items: center;
  align-content: center;
}
.menuDiv {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
}
.menu {
  margin: 10px;
}
.imageContainer {
  position: absolute;
  display: inline-block;
  margin-left: 5%;
}
.image {
  display: block;
  width: 100%;
  margin-top: 90px;
}

.capImage {
  position: absolute;
  top: 44%;
  left: 57%;
  transform: translate(-50%, 0);
  width: 10%;
}

.text {
  position: absolute;
  top: 18%;
  left: 57.5%;
  transform: translate(-50%, 0);
  color: #002d56;
  font-weight: bolder;
  font-size: 40px;
  margin: 0;
}

.biggerButton {
  padding: 20px 40px;
  background-color: #002d56;
  border-radius: 20px;
  position: absolute;
  top: 85%;
  right: 5%;
  font-weight: bolder;
  color: white;
  border: none;
  cursor: pointer;
}
.click {
  width: 30px;
  height: auto;
  bottom: 2%;
  right: 2.5%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.textContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: 20px;
  white-space: normal;
  width: 29vw;
  margin-left: 50%;
  margin-top: 18%;
  font-weight: bolder;
  font-size: 20px;
}

.stextContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  white-space: normal;
  width: 27vw;
  margin-left: 50%;
  margin-top: 24%;
}

.stextContainer span {
  margin-bottom: 1em; 
}