* {
  margin: 0;
  padding: 0;
}
.navContainer {
  display: flex;
  justify-content: space-around;
  background-color: #002d56;
  color: white;
  font-weight: bold;
  height: 50px;
}
.logo {
  text-align: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: white;
}
.menuDiv {
  display: flex;
  text-align: center;
  align-items: center;
  align-content: center;
}
.menu {
  margin: 10px;
  text-decoration-line: none;
  color: white;
}
