/* Result_Pass.js */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.congrat {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15rem;
}

.passTitle {
  font-family: "Pretendard-Extrabold";
  font-size: 50px;
  /* letter-spacing: 150%; */
  margin: 15px;
}

.congratPic {
  width: 65px;
  vertical-align: bottom;
}

.passSubTitle {
  font-family: "Pretendard-Medium";
  /* letter-spacing: 130%; */
  font-size: 30px;
}

/* Result_NonPass.js */

* {
  box-sizing: border-box;
}

.page {
  padding: 5rem 15rem 4rem 15rem;
  margin: 1rem auto;
  justify-content: center;
}

.cheerUp {
  font-family: "Pretendard-Medium";
  font-size: 30px;
  padding: 0 0 1rem 0;
}

.resultContainer {
  font-family: "Pretendard-Regular";
  font-size: 23px;
  padding: 1rem;
  text-wrap: nowrap;
  white-space: nowrap;
  overflow: scroll auto;
  margin: 0 -2rem;
  justify-content: center;
}

.resultContainer::-webkit-scrollbar {
  width: 50px;
  height: 10px;
}

.resultContainer::-webkit-scrollbar-thumb {
  border: none;
}

/* .resultContainer::-webkit-scrollbar-thumb:hover {
	background-color:#a0a0a5;
} */

.specificResultContainer {
  display: inline-block;
  /* flex-wrap: nowrap; */
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 40px;
  width: 270px;
  min-height: 380px;
  margin: 2rem 1.4rem 3rem 0;
  vertical-align: top;
}

.needThisTitle {
  margin: 0;
  padding: 2rem 2rem;
  font-family: "Pretendard-Medium";
  font-size: 33px;
  position: relative;
}

.needThisItemTitle {
  position: relative;
  margin: 1rem 0 0 0.3rem;
  padding: 0 0 1rem 0;
  font-family: "Pretendard-Regular";
  font-size: 20px;
}

.needThisItemSubTitle {
  position: relative;
  margin: 0 0 1rem 1rem;
  padding: 1rem 0 1rem 1rem;
  font-family: "Pretendard-Regular";
  font-size: 21px;
}

.needThisItemMoreInfo {
  position: relative;
  margin: 0 1rem;
  padding: 1rem 0 0 0;
  line-height: 2rem;
  font-family: "Pretendard-Regular";
  font-size: 21px;
}

.needThisItemList {
  position: relative;
  margin: 0 1rem;
}

.needThisItem {
  position: relative;
  margin: 0.5rem;
  padding: 0 0.5rem;
  font-family: "Pretendard-Medium";
  font-size: 23px;
}

.moreInfoButton {
  background-color: #d9d9d9;
  margin: 0.5rem 0 0 0;
  /* position: fixed;
  bottom: 1rem; */
  font-family: "Pretendard-Regular";
  font-size: 17px;
}

.moreInfo:hover {
  cursor: pointer;
  background-color: #333333;
  color: #ffffff;
}

.moreInfoPic {
  width: 20px;
  vertical-align: bottom;
}

.moreInfoList {
  list-style-type: none;
  font-family: "Pretendard-Regular";
  font-size: 17px;
  line-height: 1.3rem;
}

.moreInfoListItem {
  padding: 0.5rem 0 0 0;
}

.linkStyle1 {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
  background-color: #d9d9d9;
  /* letter-spacing: 1px; */
}

.linkStyle2 {
  text-decoration-line: none;
  color: black;
  font-weight: bold;
  background-color: #d9d9d9;
  /* letter-spacing: 1px; */
}

.modalOpen {
  font-family: "Pretendard-Regular";
  font-size: 17px;
  border: none;
  background-color: #d9d9d9;
}

.modalCloseButton {
  float: left;
  border: none;
  background-color: white;
  font-family: "Pretendard-Regular";
  font-size: 20px;
}

.fullscreenImage {
  width: 700px;
  object-fit: cover;
  display: inline-block;
}

.nonPassList {
  margin: 0;
  padding-inline-start: 0.2rem;
  list-style-position: inside;
}

.nonPassList {
  list-style-image: url("data:image/svg+xml;charset=UTF-8,<svg xmlns='http://www.w3.org/2000/svg' height='20' width='20' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2'><polyline points='20 6 9 17 4 12'></polyline></svg>");
}
